<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<bean id="lobHandler"
		class="org.springframework.jdbc.support.lob.DefaultLobHandler" />
	<!-- ibatis sqlMapClient config -->
	<bean id="sqlMapClient"
		class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation">
			<value>classpath:ibatis-sqlmap.xml</value>
		</property>
		<property name="dataSource" ref="dataSource" />
		<property name="lobHandler" ref="lobHandler" />
	</bean>
	
	
	<!-- Transaction manager for a single JDBC DataSource -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="opensqldao" class="com.rc.openapi.dao.impl.OpenSqlDAOImpl">
	        <property name="sqlMapClient" ref="sqlMapClient" />
	 </bean>
	 <bean id="tsysparameterdao" class="com.rc.openapi.dao.impl.TSysParameterDAOImpl">
        <property name="sqlMapClient" ref="sqlMapClient" />
    </bean>
    <bean id="cpaymentwaydao" class="com.rc.openapi.dao.impl.CPaymentWayDAOImpl">
        <property name="sqlMapClient" ref="sqlMapClient" />
    </bean>
    <bean id="torderdao" class="com.rc.openapi.dao.impl.TOrderDAOImpl">
        <property name="sqlMapClient" ref="sqlMapClient" />
    </bean>
    <bean id="torderitemdao" class="com.rc.openapi.dao.impl.TOrderItemDAOImpl">
        <property name="sqlMapClient" ref="sqlMapClient" />
    </bean>
    <bean id="treturndao" class="com.rc.openapi.dao.impl.TReturnDAOImpl">
        <property name="sqlMapClient" ref="sqlMapClient" />
    </bean>

    <bean id="treturnimagedao" class="com.rc.openapi.dao.impl.TReturnImageDAOImpl">
        <property name="sqlMapClient" ref="sqlMapClient" />
    </bean>

    <bean id="treturnitemdao" class="com.rc.openapi.dao.impl.TReturnItemDAOImpl">
        <property name="sqlMapClient" ref="sqlMapClient" />
    </bean>
    <bean id="tmemberintegraldao" class="com.rc.openapi.dao.impl.TMemberIntegralDAOImpl">
        <property name="sqlMapClient" ref="sqlMapClient" />
    </bean>
    <bean id="tgoodscommentdao" class="com.rc.openapi.dao.impl.TGoodsCommentDAOImpl">
        <property name="sqlMapClient" ref="sqlMapClient" />
    </bean>
</beans>
